@font-face {
  font-family: "montserratMedium";
  src: url("./Font/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "montserratLight";
  src: url("./Font/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "montserratRegular";
  src: url("./Font/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "montserratThin";
  src: url("./Font/Montserrat/Montserrat-Thin.ttf");
}

@font-face {
  font-family: "montserratBold";
  src: url("./Font/Montserrat/Montserrat-Bold.ttf");
}

* {
  font-family: montserratRegular;
}

h1 {
  font-family: montserratMedium;
}

.d-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  outline: none;
}

nav {
  background-color: #131f97;
  color: whitesmoke;
  height: 3.5rem;
  padding: 0 3rem;
  font-family: montserratMedium;
}

nav #test {
  font-size: 1.5rem;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  font-size: 0.6rem;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li img {
  display: block;
  text-decoration: none;
}

nav ul .cartDiv {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul .headerTotalQty {
  position: absolute;
  top: -3px;
  right: 20px;
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 0.4rem;
  border-radius: 50%;
  background: #841212;
  color: #fff;
  /* box-sizing: border-box; */
  font-size: 0.8rem;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  color: var(--main-color);
  text-align: center;
}

nav ul .vertical::before {
  content: "";
  position: absolute;
  background-color: #5760b5;
  width: 1px;
  height: 50%;
  bottom: 12px;
  right: 48px;
}

nav ul #track {
  padding-top: 1.2rem;
  padding-right: 10px;
}

#innernav {
  height: 6rem;
  padding: 0 5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
}

#innernav div {
  width: auto;
  font-size: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7e7e7e;
}

#innernav div div {
  margin-bottom: 1rem;
}

#innernav div .innerHeaderText {
  font-size: 0.7rem;
  margin: 0px;
}

#innernav .active::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 1630%;
  height: 1px;
  top: 42%;
  left: 121%;
}

#innernav .nonactive::after {
  content: "";
  position: absolute;
  background-color: #f0f0f0;
  width: 1630%;
  height: 1px;
  top: 42%;
  left: 120%;
}

#innernav .roundactive {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid black;
}

#innernav .innercircle {
  height: 65%;
  width: 65%;
  margin: 18%;
  border-radius: 50%;
  background-color: black;
}

#innernav .round {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #f0f0f0;
}

main {
  padding: 1rem 3rem;
}

main header {
  background-color: #848ac6;
  color: #ececf7;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

main table,
main section {
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;
  padding: 20px;
}

main thead {
  color: #6d6d6d;
  font-family: montserratRegular;
}

main .width15 {
  width: 15%;
}

main th,
main td {
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}

main th {
  padding: 25px 0 10px 0;
}

main .productText {
  padding-left: 40px;
}

main .productDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .productImg {
  height: 93px;
  width: 80px;
  padding: 30px 8px 0px 8px;
  border: 2px solid #f6f6f6;
  margin: 30px;
}

main .tagline {
  background-color: #211c60;
  color: white;
}

main .productFeature {
  color: #939393;
  font-size: 0.6rem;
}

main .giftKeyword {
  background-color: #212121;
  color: whitesmoke;
  width: 30%;
}

main .productDesc {
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .plusminusdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .plusminusdiv input {
  width: 1rem;
  padding: 0.1rem;
  height: 1rem;
  text-align: center;
  border: 1px solid #e0e0e0;
}

main input::-webkit-outer-spin-button,
main input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main button {
  border: none;
  background: none;
}

main .subTotal input {
  width: 3rem;
  padding: 0.1rem;
  margin-right: 2rem;
  height: 1rem;
  text-align: center;
  border: none;
  outline: none;
}

main .gift {
  background-color: #fafafa;
  position: relative;
  border: none;
}

main .gift .plusminusdiv {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .gift input {
  border: none;
  background-color: inherit;
}

main .triangle-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #fafafa;
  margin-left: 30px;
}

main section {
  display: table;
  margin-bottom: 8rem;
}

main section .lowerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 2rem;
  padding-bottom: 5rem;
  padding-top: 3rem;
}

main section .deliveryDetails {
  color: #919191;
}

main section .deliveryDetails .deliveryInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section .deliveryDetails .deliveryInput::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 1.8rem;
  background-color: black;
}

main section .deliveryDetails #deliveryAvailabilityText {
  color: #343434;
  padding-bottom: 1.3rem;
}

main section .deliveryDetails input {
  border: none;
  width: 60%;
  color: #b2b2b2;
  font-size: large;
}

main section .deliveryCheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  padding-top: 0.7rem;
}

main section .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* height: 30px; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section .orderSummary,
main section .deliveryDetails {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

main section .orderSummaryInnerDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  color: #9d9d9d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .orderSummaryText {
  color: #3b3b3b;
  font-weight: bolder;
}

main section #totalAmount {
  color: #1c1c1c;
  font-size: 2rem;
  font-weight: bolder;
}

main .blueFontColor {
  color: #141e99;
  font-weight: bold;
  font-size: smaller;
}

.checkoutBtn {
  background-color: #131f97;
  width: 8rem;
  height: 2.5rem;
  border-radius: 40px;
  color: white;
  font-weight: bolder;
}

footer {
  background-color: black;
  color: white;
}

footer .upperfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-bottom: 1rem;
}

footer .upperfooter .dummydata {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

footer .upperfooter .dummydata ul {
  padding-left: 0;
}

footer .upperfooter .dummydata ul li {
  list-style: none;
}

footer .upperfooter .dummydata ul .dummyHeading {
  font-size: 1rem;
  padding: 1rem 0;
}

footer .upperfooter .dummydata ul .dummyText {
  font-size: 0.7rem;
  padding-bottom: 0.25rem;
}

footer .upperfooter .callInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 5rem;
  padding-top: 1rem;
}

footer .upperfooter .callInfo .callingTime p {
  margin: 0;
  font-size: 0.6rem;
}

footer .upperfooter .callInfo .phoneNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
}

footer .upperfooter .callInfo .phoneNumber p {
  font-size: 1.4rem;
}

footer .upperfooter .callInfo #supportmail {
  margin: 0;
  position: relative;
  padding-top: 0.6rem;
}

footer .upperfooter .callInfo #supportmail::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #909090;
  top: 5px;
}

footer .dummydata::after {
  content: "";
  height: 80%;
  width: 1px;
  position: absolute;
  right: -7rem;
  background-color: #909090;
  margin: 1rem 0;
  top: 1rem;
}

footer .lowerfooter {
  padding: 0 5rem 6rem 5rem;
}

footer .lowerfooter .horizon {
  position: relative;
}

footer .lowerfooter .horizon::before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: #909090;
}

footer .lowerfooter ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  margin-bottom: 0;
}

footer .lowerfooter ul li {
  padding-left: 0.6rem;
  font-size: 0.7rem;
}

footer .lowerfooter p {
  text-align: end;
  margin: 0;
  font-size: 0.7rem;
}

.hidden {
  visibility: hidden;
}

.disable {
  cursor: not-allowed;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.2) !important;
  background-color: #343539 !important;
  border: 1px solid #525156 !important;
}

.display-none,
.mobile-disp {
  display: none;
}

@media only screen and (max-width: 480px) {
  body {
    background-color: #ffffff;
  }
  nav {
    padding: 0 0 0 1rem;
  }
  nav ul #track {
    display: none;
  }
  nav ul li:nth-child(2)::before {
    display: none;
  }
  #innernav {
    display: none;
  }
  main {
    padding: 1rem;
    position: relative;
  }
  main header {
    display: none;
  }
  main .shoopingCartDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  main .shoopingCartDiv .arrow-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
  main .shoopingCartDiv h1 {
    font-size: 1.2rem;
    margin-bottom: 4rem;
    padding-left: 1rem;
  }
  main table {
    background: #f9f9f9;
    border-radius: 21px;
    border: 1px solid #e5e5e5;
  }
  main thead {
    display: none;
  }
  main section {
    margin-bottom: 0;
  }
  main section .lowerSection {
    display: block;
    margin: 0;
  }
  main section .deliveryDetails,
  main section .orderSummary {
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 21px;
    border: 1px solid #e5e5e5;
  }
  main section #checkout {
    display: none;
  }
  main section .check {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .productImg {
    padding: 1rem 0 0.4rem 1rem;
    margin: 1rem 1rem 1rem 0;
    background-color: white;
  }
  main .mobile-disp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .price,
  main .qty,
  main .subTotal {
    display: none;
  }
  main .width15 {
    width: auto;
  }
  main .font-8rem {
    font-size: 0.8rem;
    font-weight: bolder;
  }
  main .tagline {
    font-size: 0.4rem;
    font-weight: bold;
    width: 75%;
  }
  main .gift {
    display: block;
    font-size: 0.8rem;
  }
  main .mobileCheckout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    top: 5rem;
    left: 0px;
    background-color: #e5e5e5;
  }
  footer .upperfooter {
    display: none;
  }
  footer .lowerfooter {
    padding: 0.5rem 0.5rem 2rem 0.5rem;
  }
  footer .lowerfooter .horizon::before {
    display: none;
  }
  footer .lowerfooter .horizon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .lowerfooter ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  footer .lowerfooter ul li:first-child {
    display: none;
  }
  footer .lowerfooter p {
    white-space: nowrap;
    text-align: center;
  }
  table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-disp-none {
    display: none;
  }
  .mobile-disp {
    display: block;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #innernav .active::after {
    width: 900%;
  }
  #innernav .nonactive::after {
    width: 900%;
  }
  main .tagline {
    font-size: 0.4rem;
    font-weight: bold;
  }
  main section .check {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .tab-no-disp {
    display: none;
  }
  footer .dummydata::after {
    right: 0px;
  }
}
/*# sourceMappingURL=index.css.map */